body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
}

h1 {
    color:#125f32;
    margin: 50px auto 0 auto;
    font-family: 'Times', sans-serif;
    font-size: 5.625rem;
}

h2 {
    color: #064420;
    font-family: 'Monserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #064420;
    font-family: 'Monserrat', sans-serif;
}

a {
    color: #E4EFE7;
}

.head-text {
    margin: 75px auto 75px auto;
    width: 50%;
}

.dotted-hr {
    border-style: dotted none none;
    border-color:grey;
    border-width:5px;
    width: 5%;
}

.contact-me {
    padding-top: 50px;
    padding-bottom: 50px;
}

.spacer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.skill-row {
    line-height: 2;
    margin: 100px auto 100px auto;
    padding: 50px auto 50px auto;
    text-align: left;
    width:50%;
}

.skills {
    padding-top: 50px;
}

.code-gif {
    float: left;
    padding-right: 30px;
    width: 25%;
}

.comp-gif {
    float: right;
    padding-left: 30px;
    width: 25%;
}

.github-gif {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 25%;
}

.profile {
    margin: 10px auto 10px auto;
    position: relative;
    width: 75%;
}

.contact-me {
    margin: 10px auto 10px auto;
    position: relative;
    width: 75%;
}

.body {
    background-color: #F5F5F5;
}

.top-container {
    background-color: #f5f5f5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: #F5F5F5;
    position: relative;
    padding-top: 0;
}

.bottom-container {
    background-color: #064420;
    position: relative;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px
}

 .btn {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Georgia;
    color: #F5F5F5;
    font-size: 20px;
    background: #125f32;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #064420;
    text-decoration: none;
  }