body{
    background-color: #FDFAF6;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
}

h1 {
    color:#125f32;
    margin: 50px auto 0 auto;
    font-family: 'Pacifico', cursive;
    font-size: 5.625rem;
}

h2 {
    color: #064420;
    font-family: 'Monserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #064420;
    font-family: 'Monserrat', sans-serif;
}

a {
    color: #E4EFE7;
}

.head-text {
    margin: 75px auto 75px auto;
    width: 30%;
}

.dotted-hr {
    border-style: dotted none none;
    border-color:grey;
    border-width:5px;
    width: 5%;
}

.contact-me {
    padding-top: 50px;
    padding-bottom: 50px;
}

.spacer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.skill-row {
    line-height: 2;
    margin: 100px auto 100px auto;
    padding: 50px auto 50px auto;
    text-align: left;
    width:50%;
}

.skills {
    padding-top: 50px;
}

.code-gif {
    float: left;
    padding-right: 30px;
    width: 25%;
}

.comp-gif {
    float: right;
    padding-left: 30px;
    width: 25%;
}

.github-gif {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 25%;
}

.profile {
    margin: 10px auto 10px auto;
    position: relative;
    width: 50%;
}

.body {
    background-color: #FAF1E6;
}

.top-container {
    background-color: #FAF1E6;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: #FAF1E6;
    position: relative;
    padding-top: 0;
}

.bottom-container {
    background-color: #064420;
    position: relative;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px
}

/* Button CSS */
.btn {
    background: #064420;
    background-image: -webkit-linear-gradient(top, #064420, #125f32);
    background-image: -moz-linear-gradient(top, #064420, #125f32);
    background-image: -ms-linear-gradient(top, #064420, #125f32);
    background-image: -o-linear-gradient(top, #064420, #125f32);
    background-image: -webkit-gradient(to bottom, #064420, #125f32);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FAF1E6;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 100;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid;
    background: #125f32;
    background-image: -webkit-linear-gradient(top, #064420, #125f32);
    background-image: -moz-linear-gradient(top, #064420, #125f32);
    background-image: -ms-linear-gradient(top, #064420, #125f32);
    background-image: -o-linear-gradient(top, #064420, #125f32);
    background-image: -webkit-gradient(to bottom, #064420, #125f32);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color:antiquewhite;
    text-decoration: none;
 }